{% extends 'base.html' %}

{% block body %}
    <h1>Edit your profile</h1>
    <form method="post" action="/edit_profile">
        {{ form.csrf_token }}
        {{ form.last_name.label }}:
        {{ form.last_name() }}
        {{ form.first_name.label }}:
        {{ form.first_name() }}
        {{ form.gender.label }}:
        {{ form.gender() }}
        <label for="birthday">Birthday: </label>
        {{ form.birth_year() }} / {{ form.birth_month() }} / {{ form.birth_date() }}

        {{ form.skill_name.label }}
        <ul>
        {% if skill_name %}
        {% for skill in skill_name %}
            <li>{{ form.skill_name() }}</li>
        {{ endfor }}
        {% endif %}
        </ul>
        <a href="{{ url_for('mypage') }}">Cancel</a>
        {{ form.submit }}
    </form>
{% endblock %}