{% extends 'base.html' %}

{% block body %}
    <h1>My page</h1>
    {% include 'alert.html' %}
    <a href="{{ url_for('edit_profile') }}">Edit your profile</a>
    <a href="{{ url_for('change_password') }}">Change your password</a>
    <h2>Profile</h2>
    <ul>
        <li>E-mail: {{ current_user.email }}</li>
        <li>Name: {{ current_user.last_name }} {{ current_user.first_name }}</li>
        <li>Gender: {{ current_user.gender }}</li>
        <li>Birthday: {{ current_user.birthday }}</li>
        <li>Password: {{ current_user.password }}</li>
    </ul>
    <h2>My skill</h2>
    {% if skill_list == [] %}
        <p>Nothing...</p>
    {% endif %}
    <ul>
        {% for skill in skill_list %}
            <li>{{ skill.name }}</li>
        {% endfor %}
    </ul>
{% endblock %}